<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4" style="max-width: 500px; width: 100%;">
    <div class="text-center mb-4">
      <img src="assets/images/pacto-logo.jpg" alt="Pacto-Soluções" class="img-fluid mb-3" style="max-height: 100px;">
      <h1>Registre-se na Pacto Vagas</h1>
      <p class="text-muted">Crie uma conta para começar a se candidatar a vagas e aproveitar todas as oportunidades
        disponíveis.</p>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="register()" novalidate>
      <div class="form-group mb-3">
        <label for="username">Nome de Usuário <span class="text-danger">*</span></label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username"
               placeholder="Digite seu nome de usuário" required>
      </div>
      <div class="form-group mb-3">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email"
               placeholder="Digite seu email" required email>
      </div>
      <div class="form-group mb-3">
        <label for="phone">Telefone <span class="text-danger">*</span></label>
        <input type="text" id="phone" class="form-control" [(ngModel)]="phone" name="phone"
               placeholder="Digite seu telefone" required (input)="restrictToNumbers($event)">
      </div>
      <div class="form-group mb-4">
        <label for="password">Senha <span class="text-danger">*</span></label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password"
               placeholder="Digite sua senha" required>
      </div>
      <div class="form-group mb-4">
        <label for="confirmPassword">Confirmar Senha <span class="text-danger">*</span></label>
        <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword"
               name="confirmPassword" placeholder="Confirme sua senha" required>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.form.valid">Registrar</button>
    </form>
    <div class="mt-3 text-center">
      <small>Já tem uma conta? <a href="/login" class="text-decoration-underline">Entrar</a></small>
    </div>
  </div>
</div>
