<div class="modal-header">
  <h4 class="modal-title">Criar Nova Vaga</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="title" class="form-label">Título</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="vacancy.title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <textarea id="description" class="form-control" [(ngModel)]="vacancy.description" name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary me-2">Criar</button>
    <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cancelar</button>
  </form>
</div>
