<div class="d-flex flex-column align-items-center">
  @if (canShowNewVacancyButton()) {
    <button (click)="openCreateVacancyModal()" class="btn btn-success mb-3 mt-3">
      Adicionar nova vaga
    </button>
  }
  @for (application of applications; track application) {
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ application. }}</h5>
        <p class="card-text">{{ vacancy.description }}</p>
      </div>
    </div>
  }
  <app-pagination
    [show]="pagination.page === 0 || applications.length >= pagination.itemsPerPage || (applications.length < pagination.itemsPerPage && pagination.page > 0)"
    [totalResults]="pagination.totalResults"
    [itemsPerPage]="pagination.itemsPerPage"
    [currentPage]="pagination.page + 1"
    (itemsPerPageChangeEvent)="changeItemsPerPage($event)"
    (paginateEvent)="paginate($event)"></app-pagination>
</div>
